.avatar {
    .user-name {
        font-size: 35px;
        font-weight: 700;
    }
    .user-bio {
        font-size: 19px;
    }
    a {
        font-size: 20px;
    }
    .user-role {
        font-size: 27px;
        font-weight: 700;
    }
}