<div class="cv container-fluid">
    <nav class="nav">
        <p class="text-center">
            <a (click)="select($event)" id="info" [class.active-rout]="isInfo" class="info-link" routerLink="/info">Info</a
      >
    </p>
    <p class="text-center">
      <a
        (click)="select($event)"
        id="contact"
        [class.active-rout]="isContact"
        class="contact-link"
        routerLink="/contact"
        >Contact Me</a
      >
    </p>
  </nav>
  <app-git-call></app-git-call>
  <div class="container mt-3"></div>
  <router-outlet></router-outlet>
</div>