.category-details {
    font-size: 18px;
    font-weight: 500;
}

.category-text {
    font-size: 17px;
}

.categoryChoose {
    font-size: 22px;
    span {
        text-transform: uppercase;
        color: rgb(167, 61, 61);
    }
}